<%- include('partials/header'); -%>
<%- include('sidenav'); -%>
<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4"> &nbsp;Dashboard</h2>
    </div>
    <a href="/auth/Logout">Logout</a>
</div>



<%- include('partials/footer'); -%>
