<%- include('partials/header'); -%>
<nav class="navbar navbar-expand-lg p-3 home-nav">
  <a class="navbar-brand ml-5 mr-4" href="#"><img class="brandSvg" src="/svg/TFH.svg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color: #FC0254 !important; font-size: xx-large; font-weight: 100;" ><i class="fa fa-bars" aria-hidden="true"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/auth/google">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/google">Login</a>
      </li>
      
    </ul>
    <form action="/auth/google" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div id="content" class="p-4 p-md-5 landing">
  <div class="container main-div">
    <div class="heading">
      <div class="head-primary">
      <p>Welcome  To  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TeamForHack!</p>
      </div>
      <div class="head-secondary">
        <p style="width:500px;"><span>Where Ideas begin.</span><br></p>
        <p style="margin-top:-12px;">Get in touch with awesome developers just by one click.
          <br> Work on innovative ideas, collabarate and meet new developers <br>across the globe.</p>
      </div>
    </div>
    <div>
      <img class="homeSvg" src="/svg/work.svg" alt="">
    </div>
  </div>
  
</div>
<div class="bbg mn p-5 mb-4 text-center">
  <p>
    "Everybody has a creative potential and from the moment you can express this creative potential, you can start changing the world"
  </p>
</div>
<div class="container usp p-5">
  <div class="text-center">
    <img src="/images/globe.jpeg" alt="">
    <p>Meet developers
      across the globe</p>
  </div><div class="text-center">
    <img src="/images/collab.jpeg" alt="">
    <p>Collaborate
      and team up</p>
  </div><div class="text-center">
    <img src="/images/bulb.jpeg" alt="">
    <p>Work on 
      innovative ideas</p>
  </div>
</div>
    <div class="bbg cont text-center pt-4 text-white">
      <div class="container soc-icons " >
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
      <div class="display-5 p-5 text-white">
        Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2020
      </div>
    </div>
</div>
  
<%- include('partials/footer'); -%>
