<%- include('partials/header'); -%>
<div id="content" class="p-4 p-md-5 pt-5">
  <h2 class="mb-4"> &nbsp;Landing</h2>
  </div>
</div>
  
  <a href="/auth/google">Sign in With Google</a>
<%- include('partials/footer'); -%>
