		<div class="wrapper d-flex align-items-stretch" style="overflow: hidden; height:100vh ;">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
			<div class="p-4">
		  		<a class="sidnavLogo mb-3 d-flex justify-content-center"> <img src="/svg/TFH.svg" alt="" srcset=""> </a>
	        <ul class="list-unstyled components sidenavList mb-5">
	          <li class="active">
	            <a class="dsha" onclick="dshChange(this)"><span class="fa fa-home mr-3"></span> Dashboard</a>
	          </li>
	          <li>
	              <a class="editProfilea" onclick="dshChange(this)"><span class="fa fa-user mr-3"></span> Edit Profile</a>
	          </li>
	          <li>
              <a href="/user/hackathons"><span class="fa fa-briefcase mr-3"></span> Hackathons</a>
			  </li>
			  <li>
				<a href="/friend/chat"><span class="fa fa-comment mr-3" aria-hidden="true"></span> Chats</a>
				</li>

	          <li>
			  <a class="suggestiona" onclick="dshChange(this)"><span class="fa fa-paper-plane mr-3"></span> Any Suggestions?</a>		  
			</li>
			<li>
				<a href="/auth/logout"> <span class="fa fa-sign-out mr-3" ></span> Sign out</a>
			</li>
	        </ul>

	        
    	</nav>

        
