@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

$font-primary: 'Poppins',Arial, sans-serif;
$primary: #494ca2;

body{
	font-family: $font-primary;
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	background: #fafafa;
	color: lighten($black,50%);
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
button {
	transition: .3s all ease;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none !important;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}


.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 28px;
	color: $black;
	small{
		font-size: 18px;
	}
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}



.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


//SIDEBAR
.wrapper {
  width: 100%;
}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: $primary;
  color: #fff;
  transition: all 0.3s;
  position: relative;
  .h6{
  	color: $white;
  }
  &.active{
  	margin-left: -270px;
  	.custom-menu{
		margin-right: -50px;
  }
  }
  h1{
  	margin-bottom: 20px;
  	font-weight: 700;
  	.logo{
  		color: $white;
  	}
  }
  ul.components{
  	padding: 0;
  }
  ul{
    li{
    	font-size: 16px;
    	>ul{
    		margin-left: 10px;
    		li{
    			font-size: 14px;
    		}
    	}
    	a{
    		padding: 10px 0;
		    display: block;
		    color: rgba(255,255,255,.6);
		    border-bottom: 1px solid rgba(255,255,255,.1);
		    &:hover{
		    	color: $white;
		    }
    	}
    	&.active{
    		> a{
    			background: transparent;
    			color: $white;
    		}
    	}
    }
  }
  @include media-breakpoint-down(md){
    margin-left: -270px;
    &.active {
        margin-left: 0;
    }
    .custom-menu{
    	margin-right: -60px !important;
    	top: 10px !important;
    }
  }

  .custom-menu{
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 0;
		margin-right: -20px;
		@include transition(.3s);
		.btn{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			&.btn-primary{
				background: darken($primary,10%);
				border-color: darken($primary,10%);
				&:hover, &:focus{
					background: darken($primary,10%) !important;
					border-color: darken($primary,10%) !important;
				}
			}
		}
  }
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#sidebarCollapse{
	span{
		@include media-breakpoint-down(md){
	    display: none;
		}
	}
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s;
}


.btn{
	&.btn-primary{
		background: $primary;
		border-color: $primary;
		&:hover, &:focus{
			background: $primary !important;
			border-color: $primary !important;
		}
	}
}

.footer{
	p{
		color: rgba(255,255,255,.5);
	}
}



.form-control {
	height: 40px!important;
	background: $white;
	color: $black;
	font-size: 13px;
	border-radius: 4px;
	box-shadow: none !important;
	border: transparent;
	&:focus, &:active {
		border-color: $black;
	}
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(255,255,255,.5);
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(255,255,255,.5);
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(255,255,255,.5);
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(255,255,255,.5);
	}
}


.subscribe-form{
	.form-control{
		background: lighten($primary,5%);
	}
}

svg.intro {
	background: linear-gradient(135deg, #aa3bb1, #582a7e);
	max-width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 30px 50px -20px rgb(46, 6, 66);
	
	.text { 
	  display: none;
	}
	&.go {
	  .text {
		font-family: Arial, sans-serif;
		font-size: 20px;
		text-transform: uppercase;
		display: block;
	  }
	  .text-stroke {
		fill: none;
		stroke: #51256f;
		stroke-width: 2.8px;
		stroke-dashoffset: -900;
		stroke-dasharray: 900;
		stroke-linecap: butt;
		stroke-linejoin: round;
		animation: dash 2.5s ease-in-out forwards;
	  }
	  .text-stroke:nth-child(2) {
		animation-delay: .3s;
	  }
	  .text-stroke:nth-child(3) {
		animation-delay: .9s;
	  }
	  .text-stroke-2 {
		stroke: #f6bdfa;
		animation-delay: 1.2s;
	  }
	  .text-stroke:nth-child(5) {
		animation-delay: 1.5s;
	  }
	  .text-stroke:nth-child(6) {
		animation-delay: 1.8s;
	  }
	}
  }
  
  @keyframes dash {
	100% {
	  stroke-dashoffset: 0;
	}
  }
  
  .reload {
	position: absolute;
	bottom: 15px;
	right: 15px;
	background: #fff;
	border: none;
	border-radius: 20px;
	outline: none!important;
	font-size: 11px;
	line-height: 1.5;
	padding: 8px 12px;
	text-transform: uppercase;
	z-index: 10;
	cursor: pointer;
	box-shadow: 0 6px 7px #350e4c;
	transition: all .1s cubic-bezier(.67, .13, .1, .81);
	&:hover {
	  box-shadow: 0 4px 4px #350e4c;
	  transform: translateY(1px);
	}
	&:active {
	  box-shadow: 0 1px 2px #244B94;
	  transform: translateY(2px);
	}
	svg {
	  vertical-align: middle;
	  position: relative;
	  top: -2px;
	}
  }