@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.hackathon-cont {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}
.hackathon-left {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hackathon-right {
  width: calc(100% - 300px);
  background-color: #08192d !important;
}
.back-crcle{
  font-size: medium;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08192d;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: 0.25s ease;
}
.back-crcle:hover{
  transform: scale(1.1);
  transition: 0.25s ease;
color: #fff;
}
.underline{
    height: 2px;
    width: 80%;
    background-color: #08192d;
}
.hacks{
    overflow-y: scroll;
    margin-top: 150px;
}
.bbg{
  width: 100%;
  background: #08192d;
}
.mn{
  margin-top:-100px ;
}
.mn p{
  color: #FFF !important; font-size: 27px;font-family: 'Raleway', sans-serif;
}
.usp{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.usp div{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.usp div img{
  width: 50%;
  margin: auto;
}
.usp p{
  font-size: large;
  padding-top: 20px;
}
.cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.soc-icons{
  color: #fff;
  font-size: xx-large;
}
.soc-icons i{
  margin: 10px;
}
.hacknames{
  cursor: pointer;
  border-bottom: 1px solid #fafafa;
  border-top: 1px solid #fafafa;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 285px !important;
}
.hacknames:hover{
  border-bottom: 1px solid #08192d;
  border-top: 1px solid #08192d;
  /* font-size: 15px; */
}
.activeHack{
  background-color: #08192d;
  color: #Fff !important;
}
.hackSections{
  display: none;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}
.hackSectionsDisplay{
  display: block;
}

/* Profile card */
.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height: 350px;
  min-width: 300px;
  border:none;
  border-radius: 10px;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 160px !important;
    overflow: hidden;
    background: rgb(30,73,101);
    background: linear-gradient(30deg, rgba(30,73,101,1) 0%, rgba(13,102,94,1) 97%);
    background: -webkit-linear-gradient(30deg, rgba(30,73,101,1) 0%, rgba(13,102,94,1) 97%);
}
.profile-card-3 .background-block .background {
  height:100%;
  width: 30%;
  vertical-align: top;
  opacity: 0.9;
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-12deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 .hackProf {
  -webkit-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
  width:100%;
  height: max-content;
  margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}
.badges-group{
  display: flex;
  flex-wrap: wrap;
}
.dsh-sec{
  display: none;
}
.dsh-display{
  display: block;
}
.form-control{
  border: 1px solid #23232321 !important;
}
.chat-container{
  background: rgb(8,25,45);
background: -moz-linear-gradient(180deg, rgba(8,25,45,1) 0%, rgba(65,78,93,1) 20%, rgba(215,219,214,1) 20%, rgba(215,219,214,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(8,25,45,1) 0%, rgba(65,78,93,1) 20%, rgba(215,219,214,1) 20%, rgba(215,219,214,1) 100%);
background: linear-gradient(180deg, rgba(8,25,45,1) 0%, rgba(65,78,93,1) 20%, rgba(215,219,214,1) 20%, rgba(215,219,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#08192d",endColorstr="#d7dbd6",GradientType=1);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.chat-total{
  background-color: #fff;
  width: 90vw;
  height: 90vh;
  overflow: hidden;
}
.chat-left{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 20%;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #2323238c;
}
.chat-users{
  overflow-y: scroll;
}
.chat-right{
  width: 80%;
}
.chat-users div{
  padding: 9px;
}
.chat-users div:hover{
  background-color: #ececec;
  cursor: pointer;
}
.msg-box{
  height: calc(100% - 128px);
}
.chat-form{
  width: 100%;
  max-height: 50px ;
}
.chat-form input{
  width: 92%;
}
.heading
{
 
  display: flex;
  flex-direction: column;
}
.head-primary
{
  margin-top:-4px;
}
.head-primary
{
  font-size:3rem;
  line-height:45px;
  font-family: 'Philosopher', sans-serif;
  margin-left:27px;
}
.head-primary p
{
  color:#08192d;
  width:700px;
}
.head-secondary
{
  display: flex;
  flex-direction: column;
}
.head-secondary span
{
  color:#FC0254;
  font-family: 'Poppins', sans-serif;
  font-size:20px;
}
.head-secondary p
{
  font-family: 'Poppins', sans-serif;
  width:10000px;
}
#filtered-hackathon {
  width: 85%;
  padding: 5px;
}
.shadowEff
{
    position:relative;
    -webkit-box-shadow:0 1px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadowEff:before, .shadowEff:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadowEff:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.sidnavLogo{
  width: 100% !important;
}
.sidnavLogo img{
  width: 40%;
}
.chat-messages{
  overflow: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.check1
{
  margin-left:-10px;
  margin-bottom: 10px;
 
}
.check2
{
  margin-left:10px;
  margin-bottom: 10px;
 
}

.ptr
{
  padding:2px 10px 2px 10px;;
  /* border:solid;
  border:1px solid rgba(8,25,45, .3); */
  border-radius:6px;
  border-width:0.00001em;
  /* box-shadow: 0 2px 4px 0  rgba(1, 1, 34, 0.2), 0 4px 4px 0  rgba(1,1,34, 0.19); */
  min-width: 120px;
  max-width:300px;
  word-wrap: normal;
  overflow-wrap: break-word;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #0d324d 15%, #7f5a83 85%);
  
  color:white;
}
.ptr2
{
  padding:4px 10px 4px 10px;
  /* border: solid;
  border:1px solid rgba(255,0,0,0.3); */
  border-radius:6px;
  border-width:0.1px;
  object-fit: contain;
  line-height: 20px;
  /* box-shadow: 0 2px 4px 0 rgba(255, 0, 0, 0.2), 0 4px 4px 0 rgba(255, 0, 0, 0.19); */
  min-width: 120px;
  max-width:300px;
  word-wrap: normal;
  overflow-wrap: break-word;
  background-color :#bd4f6c;
  background-image :linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
  
  color:white;
}
.ptr1
{
  font-size:10px;
}
.ptr3
{
  font-size:10px;
}
#filtered-hackathon:focus{
  border-color: #FC0254 !important;
  border-radius: 5px;
}
#filtered-users{
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 10px;
}
#checkBox{
  position: absolute;
  right: 5%;
  top: 15%;
}
.addFrnd{
  position: absolute;
  top: -20%;
  right: 20%;
}
.addFrnd::after{
  position: absolute;
  content: "Add friend";
  font-size: x-small;
  opacity: 0;
  transition: 0.5s ease-in;
}
.addFrnd:hover > .addFrnd::after{
  opacity: 1;
  transition: 0.5s ease-out;
}
.gotoChat{
  position: absolute;
  right: 5%;
  top: 9%;
}

